ul{
  margin-left: 190px;
  list-style-type: none;
  text-align: center;
}
li{
  margin: 0px;
  float: left;
  padding: 6px 75px 6px 75px;
  background-color: darkgray;
  display: block;
  font-size: 20px;
  color: black;
}
li.link{
  background-color: black;
}
a{
  color: white;
  text-decoration: none;
}
li.link:hover{
  background-color: gray;
}
h1{
  background-color: cyan;
  text-align: center;
  width: 50%;
  margin: auto;
  margin-top: 30px;
}
img#a{
  width: 200px;
  margin-left: 150px;
}
img#b{
  width: 200px;
}
div#rij{
  width: 50%;
  margin: auto;
  margin-top: 20px;
}
div#pagina{
  float: none;
}
div#colom {
  float: left;
  padding: 5px;
}
div#biografie{
  background-color: lightgray;
  margin-left: 350px;
  margin-right: 350px;
  margin-top: 20px;
}
iframe{
  border: groove gray 10px;
  margin-left: 475px;
  margin-top: 20px;
}
iframe#kaart{
  margin-right: 120px;
  margin-top: 50px;
}
p{
  color: black;
  background-color: lightgray;
  width: 65%;
  margin: auto;
  margin-top: 25px;
}
p#center{
  text-align: center;
  padding:
}
img.c{
  height: 300px;
}
a#contact{
  text-decoration: underline;
  color: black;
  margin-left: 270px;
}
a#contact:hover{
  background-color: aquamarine;
}
a#contact:visited{
  background-color: aquamarine;
}
p#biografie{
  background-color: white;
  color: black;
}
div#bekendDoor{
  margin-left: 230px;
}
